/* Start ----------------------------------------------------- body.css*/

body.sc-theme { background: #555; margin:0; }

.app_container {
  position: absolute;
  width: 100%;
  left:0;
  height:100%;
  top:0;
  /*border: 1px #888 solid;*/
  background: #f0f0f0;
}

.sidebar {
  position: absolute;
  width:150px;
  margin:0;
  padding:0;
  top:0;
  bottom:0;
  left:0;
  background:#DDD;
}

.sidebar .family_list_scroll_view {
  position: absolute;
  left: 0px;
  top:0;
  right:0;
  border: none;
  bottom:0;
}

.main_content {
  position:absolute;
  top:0;
  right:0;
  left:auto;
  bottom:0;
}

.main_content .contact-workspace {
  position:absolute;
  top:0;
  left:0;
  right:0;
  left:0;
  height:100%;
}

#contacts {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:200px;
}

.main_content .contact-workspace .contacts .contact_scroll_view {
 position: absolute;
  left:0;
  top:0;
  right:0;
  border: none;
  height: 200px;
}

.main_content .sc-grid-view {
 background-color: #292929;
 border: none ;
}

.main_content .contact_scroll_view .contact_list_view .sc-collection-item {
  border:none;
}

.main_content .contact_scroll_view .contact_list_view .contactCard { 
  background:transparent url(/static/cardBG.png) no-repeat scroll 50% 50%;
  bottom:0;
  left:0;
  margin:5px;
  padding:40px;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  color:white;
  border-bottom:1px solid #555;
}

.sc-split-view .vertical .contact_form {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}


/* End ------------------------------------------------------- body.css*/

